.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 999;
  opacity: 0.9;
}

.sidenav a {
  padding: 8px 8px 20px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .close-button {
  float: right;
  color: #818181;
  cursor: pointer;
  padding-right: 20px;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
}

.sidenav .close-button:hover {
  color: #f1f1f1;
}

.sidenav .caution {
  font-size: 11px;
}

@media all and (max-width: 768px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
