.move-button.left {
    border-radius: 0 0 0 100%;
}
  
.move-button.left::after {
    top: 0;
    right: 0;
    box-shadow: inset 2px -1px 2px 0 rgba(0, 0, 0, 0.4), 10px -10px 0 10px #60B8CE;
    -webkit-transform: skew(3deg, 3deg) scale(0.96);
    -moz-transform: skew(3deg, 3deg) scale(0.96);
    transform: skew(3deg, 3deg) scale(0.96);
} 