.site-header {
	position: fixed;
	width: 100%;
	height: 41px;
	top: 0px;
	background-color:#282c34;
	border-bottom: 1px solid pink;
	z-index: 105;
	display: flex;
	justify-content: space-between;
  	align-items: center;
}

.site-header .header-logo {
	font-size: 22px;
    font-style: italic;
    font-family: 'Impact, fantasy';
    margin: 0 auto;
    display: inline-block;
    color: #ffffff;
}
