.move-button.right {
    border-radius: 0 100% 0 0;
}
  
.move-button.right::after {
    bottom: 0;
    left: 0;
    box-shadow: inset -2px 3px 2px -2px rgba(0, 0, 0, 0.4), -10px 10px 0 10px #60B8CE;
    -webkit-transform: skew(3deg, 3deg) scale(0.96);
    -moz-transform: skew(3deg, 3deg) scale(0.96);
    transform: skew(3deg, 3deg) scale(0.96);
}