.camera {
    background-color: black;
    height: 40vh;
    width: 100%;
    position: relative;
}

.camera .camera-icon {
    font-size: 24px;
    opacity: 0.3;
    position: absolute;
}

@media all and (max-width: 768px) {
    .camera {
        height: 35vh;
    }
}